# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~

/isso.egg-info/
/isso/js/components
/isso/js/embed.min.js
/isso/js/embed.dev.js
/isso/js/count.min.js
/isso/js/count.dev.js
/isso/js/**/*.map

# apiDoc generated output
apidoc/_output/

# Javascript ecosystem
node_modules/

# Database
comments.db

# github/gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Development tools
.vagrant
.eggs

# Tox
.tox
