#comments {
    margin: 0;
    padding: 0;
}

.isso {
    margin-bottom: 18px;
    margin-top: 18px;
}

.isso footer a, .isso header a {
    color: #111111;
    font-family: Palatino, "times new roman", serif;
    font-weight: bold;
    font-size: 0.95em;
    text-decoration: none;
}

.isso footer a:hover, .isso header a:hover {
    color: #111111;
    text-shadow: #aaaaaa 0px 0px 1px;
}

.isso .author {
    font-weight: bold;
}

.isso time {
    color: lightgray;
    float: right;
}

.isso > header {
    border-bottom: solid 1px lightgray;
}

.isso > header .note {
    float: right;
    color: gray;
}

.isso > footer > a {
    padding: 0 10px 10px 0;
}

.isso + .issoform {
    margin-left: 20px;
}

.issoform input, .issoform textarea {
    border: 4px solid rgba(0,0,0,0.1);
    padding: 8px 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    outline: 0;
}

.issoform textarea {
    width: 350px;
}

.issoform input[type="submit"] {
    cursor: pointer;
    background: -webkit-linear-gradient(top, #efefef, #ddd);
    background: -moz-linear-gradient(top, #efefef, #ddd);
    background: -ms-linear-gradient(top, #efefef, #ddd);
    background: -o-linear-gradient(top, #efefef, #ddd);
    background: linear-gradient(top, #efefef, #ddd);
    color: #333;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    border: 1px solid #ccc;
}

.issoform input[type="submit"]:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(top, #eee, #ccc);
    border: 1px solid #bbb;
}

.issoform input[type="submit"]:active {
    background: -webkit-linear-gradient(top, #ddd, #aaa);
    background: -moz-linear-gradient(top, #ddd, #aaa);
    background: -ms-linear-gradient(top, #ddd, #aaa);
    background: -o-linear-gradient(top, #ddd, #aaa);
    background: linear-gradient(top, #ddd, #aaa);
    border: 1px solid #999;
}

.issoform div {
    margin-bottom: 8px;
}