#isso-comments {
    margin: 0;
    padding: 0;
}

.isso-comment {
    margin-bottom: 18px;
    margin-top: 18px;
}

#isso-root > .isso-comment > .isso-follow-up {
    margin-left: 64px;
}


.isso-comment footer a, .isso-comment header a {
    color: #111111;
    font-weight: bold;
    font-size: 0.95em;
    text-decoration: none;
}

.isso-comment footer a:hover, .isso-comment header a:hover {
    color: #111111;
    text-shadow: #aaaaaa 0px 0px 1px;
}

.isso-comment > header, .isso-comment > footer {
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.80em;
}

.isso-comment .author {
    font-weight: bold;
    color: #555;
}

.isso-comment .spacer {
    padding-left: 6px;
    padding-right: 6px;
}

.isso-comment .spacer, .isso-comment .permalink {
    color: gray;
    font-weight: normal;
}

.isso-comment > header {
    margin-bottom: 8px;
    margin-left: 64px;
}

.isso-comment > header .note {
    float: right;
    color: gray;
}

.isso-comment span.avatar {

    position: relative;
    margin-top: -22px;

    /*margin: 16px 0px 12px 0px;*/
    float: left;
    clear: both;
}

span.avatar > canvas {
    box-shadow: 0px 0px 2px #888;
}

img:-moz-broken {
    -moz-force-broken-image-icon: 1;
}

/* comment style */

.isso-comment > div.text {
    margin-left: 64px;
    min-height: 24px;

    margin-bottom: 4px;

    text-align: left;
    font-family: Georgia, Times, serif;
}

/* .. */

.isso-comment > footer {
    margin-left: 64px;
}

.isso-comment > footer > a {
    padding: 0 10px 10px 0;
}

/* comment form */

.isso-comment + .isso-comment-box {
    margin-left: 20px;
}

.isso-comment-box ul {
    padding: 0;
}

.isso-comment-box .optional {
    margin-bottom: 6px;
}

.isso-comment-box li {
    margin-right: 8px;
    display: inline;
}

.isso-comment-box li input {
    margin-left: 0;
}

.isso-comment-box input, .isso-comment-box textarea {
    border: 1px solid rgba(0,0,0,0.25);
    padding: 8px 10px;
    border-radius: 3px;

    outline: 0;
}

.isso-comment-box textarea {
    width: 640px;
    margin-bottom: 6px;
}

.isso-comment-box input[type="submit"] {
    cursor: pointer;
    background: -webkit-linear-gradient(top, #efefef, #ddd);
    background: -moz-linear-gradient(top, #efefef, #ddd);
    background: -ms-linear-gradient(top, #efefef, #ddd);
    background: -o-linear-gradient(top, #efefef, #ddd);
    background: linear-gradient(top, #efefef, #ddd);
    color: #333;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    border: 1px solid #ccc;
    margin-left: 0px;
}

.isso-comment-box input[type="submit"]:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(top, #eee, #ccc);
    border: 1px solid #bbb;
}

.isso-comment-box input[type="submit"]:active {
    background: -webkit-linear-gradient(top, #ddd, #aaa);
    background: -moz-linear-gradient(top, #ddd, #aaa);
    background: -ms-linear-gradient(top, #ddd, #aaa);
    background: -o-linear-gradient(top, #ddd, #aaa);
    background: linear-gradient(top, #ddd, #aaa);
    border: 1px solid #999;
}

input {
    transition: background-color 0.1s ease;
}

input:focus:invalid {
    box-shadow: inset 0px 0px 6px #8b0000;
}

textarea:focus:valid, input:focus:valid {
    box-shadow: inset 0px 0px 6px #2f4f4f;
}

.isso-popup {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    padding: 6px 8px;
    margin-left: 20px;
    border: 1px solid rgb(242, 122, 122);
    border-radius: 2px;
    background-color: rgb(242, 222, 222);
    z-index: 9002;
}