<div class="isso-comment" id="isso-{{ id | blank }}">
    {{ if conf-avatar | bool }}
    <div class="avatar">
        <svg data-hash="{{ hash }}"></svg>
    </div>
    {{ /if }}
    <div class="text-wrapper">
        <div class="isso-comment-header" role="meta">
            {{ if website | bool }}
            <a class="author" href="{{ website }}" rel="nofollow">
                {{ author | blank : `i18n-comment-anonymous` }}
            </a>
            {{ else }}
                <span class="author">
                    {{ author | blank : `i18n-comment-anonymous` }}
                </span>
            {{ /if }}

            <span class="spacer">•</span>

            <a class="permalink" href="#isso-{{ id }}">
                <date datetime="{{ created | datetime }}"></date>
            </a>

            <span class="note">
            {{ if mode | equals : 2 }}
                {{ i18n-comment-queued }}
            {{ /if }}
            {{ if mode | equals : 4 }}
                {{ i18n-comment-deleted }}
            {{ /if }}
            </span>

        </div>
        <div class="text">
            {{ if mode | equals : 4 }}
                <p>&nbsp;</p>
            {{ else }}
                {{ text }}
            {{ /if }}
        </div>
        <div class="isso-comment-footer">
            {{ if likes | substract : `dislikes` | notequals : 0 }}
                <span class="votes">{{ likes | substract : `dislikes` }}</span>
            {{ /if }}
            <a class="upvote" href="#"><i>{{ svg-arrow-up}}</i></a>
            <span class="spacer">|</span>
            <a class="downvote" href="#"><i>{{ svg-arrow-down}}</i></a>

            <a class="reply" href="#">{{ i18n-comment-reply }}</a>
            <a class="edit" href="#">{{ i18n-comment-edit }}</a>
            <a class="delete" href="#">{{ i18n-comment-delete }}</a>
        </div>
        <div class="isso-follow-up">
        </div>
    </div>
</div>