form(id='isso-openid-login-form', method='GET')
    div(class='isso-openid-form-box')
        p(class='isso-openid-intro-line')
            img(id='isso-openid-logo', alt='OpenID logo')
            = i18n('openid-intro')
        p(class='isso-openid-login-line')
            input(type='text', id='isso-openid-identifier', name='isso-openid-identifier')
            input(type='submit', id='isso-openid-submit', value=i18n('login'))
        p(class='isso-openid-hint-line')
            = i18n('openid-hints')
