div(class='postbox')
    if conf.avatar
        div(class='avatar')
            svg(class='blank' data-hash='')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
        section(class='auth-section')
            p(class='input-wrapper')
                input(type='text' name='author' placeholder=i18n('postbox-author'))
            p(class='input-wrapper')
                input(type='email' name='email' placeholder=i18n('postbox-email'))
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
