{% extends "base.j2" %}

{% block body %}

<div class="row">
    <div class="span4">

        <h2>Overview</h1>

        <ul>
            <li><b>N</b> approved</li>
            <li><b>N</b> pending</li>
        </ul>

        <ul>
            <li><b>N</b> Threads</li>
        </ul>


    </div>
    <div class="span8">

        <h2>Recent Comments</h1>

    </div>
</div>

{% endblock %}
