<html>
<p>{{author}}{% if email %} &lt;<a href="mailto:{{email}}">{{ email }}</a>&gt;{% endif %} wrote:</p>

<p>{{comment}}</p>

<p>
	{% if admin %}
	{% if website %}
	User's URL: <a href="{{website}}">{{website}}</a>
	<br>
	{% endif %}
	IP address: {{ip}}
	<br>
	{% endif %}

	Link to comment: <a href="{{com_link}}">Click Here</a>
</p>

<hr>

<p>

	{% if admin %}
	Delete comment: <a href="{{del_link}}">Click Here</a>
	<br>
	{% if mode == 2 %}
	Activate comment: <a href="{{act_link}}">Click Here</a>
	{% endif %}
	
	{% else %}
	Unsubcribe from this conversation: <a href="{{unsubscribe}}">Click Here</a>
	{% endif %}

</p>
</html>
{# See comment.txt for manual #}