<p>{{author}}{% if email %} &lt;<a href="mailto:{{email}}">{{ email }}</a>&gt;{% endif %} 說：</p>

<p>{{comment}}</p>

<p>
	{% if admin %}
	{% if website %}
	用戶網址： <a href="{{website}}">{{website}}</a>
	<br>
	{% endif %}
	IP地址： {{ip}}
	<br>
	{% endif %}

	評論鏈路： <a href="{{com_link}}">點我</a>
</p>

<hr>

<p>

	{% if admin %}
	刪除評論： <a href="{{del_link}}">點我</a>
	<br>
	{% if mode == 2 %}
	激活評論： <a href="{{act_link}}">點我</a>
	{% endif %}
	
	{% else %}
	退訂： <a href="{{unsubscribe}}">點我</a>
	{% endif %}

</p>