{% if case == 1 %}
<p>{{author}} は書いた：</p>

<p>{{comment}}</p>

<p>ユーザーのURL： {{website}}<br>
IPアドレス： {ip}<br>
コメントへのリンク： <a href="{{com_link}}">Click Here</a></p>

<hr>
コメントを削除する： <a href="{{del_link}}">Click Here</a><br>
コメントを有効にする： <a href="{{act_link}}">Click Here</a>

{% elif case == 2 %}
<p>{{author}} は書いた：</p>

<p>{{comment}}</p>

<p>IPアドレス： {ip}<br>
コメントへのリンク： <a href="{{com_link}}">Click Here</a></p>

<hr>
コメントを削除する： <a href="{{del_link}}">Click Here</a><br>
コメントを有効にする： <a href="{{act_link}}">Click Here</a>

{% elif case == 3 %}
<p>{{author}} は書いた：</p>

<p>{{comment}}</p>

<p>ユーザーのURL： {{website}}<br>
IPアドレス： {ip}<br>
コメントへのリンク： <a href="{{com_link}}">Click Here</a></p>

<hr>
コメントを削除する： <a href="{{del_link}}">Click Here</a>

{% elif case == 4 %}
<p>{{author}} は書いた：</p>

<p>{{comment}}</p>

<p>IPアドレス： {ip}<br>
コメントへのリンク： <a href="{{com_link}}">Click Here</a></p>

<hr>
コメントを削除する： <a href="{{del_link}}">Click Here</a>

{% elif case == 5 %}
<p>{author} は書いた：</p>

<p>{comment}</p>

<p>コメントへのリンク： <a href="{{link}}">{link}</a></p>

<hr>
<p>退会する： {unsubscribe}</p>

{% else %}
<p>{author} は書いた：</p>

<p>{comment}</p>

<p>コメントへのリンク： <a href="{{link}}">{link}</a></p>

<hr>
<p>退会する： {unsubscribe}</p>
{% endif %}
