<html>
<p>{{author}}{% if admin and email %} &lt;<a href="mailto:{{email}}">{{ email }}</a>&gt;{% endif %} hat geschrieben:</p>

<p>{{comment}}</p>

<p>
	{% if admin %}
	{% if website %}
	URL des Benutzers: <a href="{{website}}">{{website}}</a>
	<br>
	{% endif %}
	IP Adresse: {{ip}}
	<br>
	{% endif %}

	Link zum Kommentar: <a href="{{com_link}}">Hier klicken</a>
</p>

<hr>

<p>

	{% if admin %}
	Kommentar löschen: <a href="{{del_link}}">Hier klicken</a>
	<br>
	{% if mode == 2 %}
	Kommentar freischalten: <a href="{{act_link}}">Hier klicken</a>
	{% endif %}
	
	{% else %}
	Keine E-Mails mehr von dieser Konversation bekommen (abmelden): <a href="{{unsubscribe}}">Hier klicken</a>
	{% endif %}

</p>
</html>
{# See comment.txt for manual #}