{% if case == 1 %}
<p>{{author}} wrote:</p>

<p>{{comment}}</p>

<p>User's URL: {{website}}<br>
IP address: {ip}<br>
Link to comment: <a href="{{com_link}}">Click Here</a></p>

<hr>
Delete comment: <a href="{{del_link}}">Click Here</a><br>
Activate comment: <a href="{{act_link}}">Click Here</a>

{% elif case == 2 %}
<p>{{author}} wrote:</p>

<p>{{comment}}</p>

<p>IP address: {ip}<br>
Link to comment: <a href="{{com_link}}">Click Here</a></p>

<hr>
Delete comment: <a href="{{del_link}}">Click Here</a><br>
Activate comment: <a href="{{act_link}}">Click Here</a>

{% elif case == 3 %}
<p>{{author}} wrote:</p>

<p>{{comment}}</p>

<p>User's URL: {{website}}<br>
IP address: {ip}<br>
Link to comment: <a href="{{com_link}}">Click Here</a></p>

<hr>
Delete comment: <a href="{{del_link}}">Click Here</a>

{% elif case == 4 %}
<p>{{author}} wrote:</p>

<p>{{comment}}</p>

<p>IP address: {ip}<br>
Link to comment: <a href="{{com_link}}">Click Here</a></p>

<hr>
Delete comment: <a href="{{del_link}}">Click Here</a>

{% elif case == 5 %}
<p>{author} wrote:</p>

<p>{comment}</p>

<p>Link to comment: <a href="{{link}}">{link}</a></p>

<hr>
<p>Unsubcribe from this conversation: {unsubscribe}</p>

{% else %}
<p>{author} wrote:</p>

<p>{comment}</p>

<p>Link to comment: <a href="{{link}}">{link}</a></p>

<hr>
<p>Unsubcribe from this conversation: {unsubscribe}</p>
{% endif %}
