<!-- 
 ========================================================================
 Variables usable under all situations:
 ========================================================================
 {{thread_link}} : self-explainary
 {{thread_title}} : self-explainary
 {{author}} : The comment author
 {{email}} : The comment author's email
 {{comment}} : The comment content
 {{website}} : The comment author's website address
 {{ip}} : The author's IP
 ========================================================================
 Usable variables only under an admin situation:
   EXAMPLE:  
   {% if admin %}
   ...(USE HERE)...
   {% else %}
   ...(Not here)...
   {% endif %}
 ========================================================================
 {{com_link}} : The comment link
 {{del_link}} : The link to delete the comment
 {{act_link}} : The link to activate the comment
                (Only available when the comment is waiting for approval,
                 For example:
                 {% if admin %}
                 ...
                 {% if mode == 2 %}
                 ...(USE HERE)...
                 {% endif %}
                 ...
                 {% endif %}
                )
 ========================================================================
 Usable variables only under a reply notification situation:
   EXAMPLE:  
   {% if admin %}
   ...(Not here)...
   {% else %}
   ...(USE HERE)...
   {% endif %}
 ======================================================================== 
 {{parent_link}} : The link of the comment the comment author replies to,
                   in other words, the notification receiver's comment
 {{com_link}} : The comment link, in other words, the link of the reply 
                to the receiver
 {{unsubscribe}} : The link to unsubcribe from the subcription
 ========================================================================
--> 


<p>{{author}}{% if email %} &lt;<a href="mailto:{{email}}">{{ email }}</a>&gt;{% endif %} wrote:</p>

<p>{{comment}}</p>

<p>
	{% if admin %}
	{% if website %}
	User's URL: <a href="{{website}}">{{website}}</a>
	<br>
	{% endif %}
	IP address: {{ip}}
	<br>
	{% endif %}

	Link to comment: <a href="{{com_link}}">Click Here</a>
</p>

<hr>

<p>

	{% if admin %}
	Delete comment: <a href="{{del_link}}">Click Here</a>
	<br>
	{% if mode == 2 %}
	Activate comment: <a href="{{act_link}}">Click Here</a>
	{% endif %}
	
	{% else %}
	Unsubcribe from this conversation: <a href="{{unsubscribe}}">Click Here</a>
	{% endif %}

</p>

