<p>{{author}}{% if email %} &lt;<a href="mailto:{{email}}">{{ email }}</a>&gt;{% endif %} は書いた：</p>

<p>{{comment}}</p>

<p>
	{% if admin %}
	{% if website %}
	ユーザーのURL： <a href="{{website}}">{{website}}</a>
	<br>
	{% endif %}
	IPアドレス： {{ip}}
	<br>
	{% endif %}

	コメントへのリンク： <a href="{{com_link}}">ここをクリック</a>
</p>

<hr>

<p>

	{% if admin %}
	コメントを削除する： <a href="{{del_link}}">ここをクリック</a>
	<br>
	{% if mode == 2 %}
	コメントを有効にする： <a href="{{act_link}}">ここをクリック</a>
	{% endif %}
	
	{% else %}
	退会する： <a href="{{unsubscribe}}">ここをクリック</a>
	{% endif %}

</p>