Source: isso
Section: python
Priority: optional
Maintainer: Jelmer Vernooĳ <jelmer@debian.org>
Build-Depends:
 debhelper (>= 9~),
 dh-python,
 node-almond,
 node-uglify (>= 2.4.13-2),
 node-jade,
 node-requirejs,
 node-requirejs-text,
 nodejs,
 python-all,
 python-html5lib,
 python-configparser,
 python-setuptools,
 python-sphinx,
 ruby-sass
Standards-Version: 4.1.1
X-Python-Version: >= 2.7
Homepage: http://posativ.org/isso/
Vcs-Git: https://salsa.debian.org/jelmer/isso.git -b master
Vcs-Browser: https://salsa.debian.org/jelmer/isso.git

Package: isso
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 ${sphinxdoc:Depends},
 lsb-base (>= 3.0-6),
 python-configparser,
 python-html5lib,
 python-ipaddr,
 python-itsdangerous,
 python-misaka,
 python-werkzeug (>= 0.9~)
Recommends:
 gunicorn
Provides: ${python:Provides}
Description: lightweight web-based commenting system
 A lightweight commenting system written in Python. It supports CRUD comments
 written in Markdown, Disqus import, I18N, website integration via JavaScript.
 Comments are stored in SQLite.
