#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1
export PYBUILD_NAME=isso

RJS = /usr/bin/nodejs /usr/lib/nodejs/r.js

%:
	dh $@ --with python2,sphinxdoc --buildsystem=pybuild

rm_js_symlinks:
	echo "Removing JS symlinks"
	rm -rf isso/js/components/almond
	rm -rf isso/js/components/jade
	rm -rf isso/js/components/text
	echo "Removing built JS libraries"
	rm -f ./isso/js/count.min.js isso/js/count.dev.js
	rm -f ./isso/js/embed.min.js isso/js/embed.dev.js

js_symlinks:
	echo "Creating directories"
	mkdir -p isso/js/components/almond
	mkdir -p isso/js/components/jade
	mkdir -p isso/js/components/text
	echo "Linking JS libraries"
	ln -s /usr/lib/nodejs/almond.js isso/js/components/almond/
	ln -s /usr/lib/nodejs/jade/lib/runtime.js isso/js/components/jade/
	ln -s /usr/lib/nodejs/requirejs/text.js isso/js/components/text/

js_mini: js_symlinks
	# Unused until node-uglify 2.4 will be available
	echo "Checking required JS libraries"
	test -f isso/js/components/almond/almond.js
	test -f isso/js/components/jade/runtime.js
	test -f isso/js/components/text/text.js
	echo "Compiling JS libraries"

override_dh_auto_build: js_mini
	dh_auto_build RJS="$(RJS)"
	PYTHONPATH=. http_proxy='http://127.0.0.1:9/' sphinx-build -N -q -E -bhtml docs build/html

override_dh_sphinxdoc:
ifeq (,$(findstring nodoc,$(DEB_BUILD_OPTIONS)))
	dh_sphinxdoc -p isso
endif

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.rst

override_dh_auto_install:
	dh_auto_install
	pybuild --install -i python{version} -p 2.7 --dir . --verbose --test-nose

override_dh_auto_clean: rm_js_symlinks
	dh_auto_clean
